#header {
    background: #2B2B2B;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link a {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 20px;
}

.navbar-link button {
    width: 152px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.navbar-link button span {
    position: relative;
    top: 5px;
    font-size: 20px;
}

#home-hero {
    padding-top: 100px;
}

.home-hero-group h1 {
    font-weight: 600;
    font-size: 67px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.home-hero-group p {
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.home-hero-group button {
    width: 224px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: 2px solid #A259FF;
    transition: .4s;
    cursor: pointer;
}

.home-hero-group button:hover {
    transform: scale(1.1);
    background: transparent;
    color: #A259FF;
    backdrop-filter: blur(5px);
}