body, html {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #2B2B2B;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    width: 90%;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}
